<div class="container">
  <div class="ui card">
    <h1>Team generator</h1>
    <ul class="list" #listt>
      <li *ngFor="let memb of members">{{memb}}</li>
    </ul>
    <div class="members-container">
      <input #inputMember type="text" placeholder="name" (input)="onInput(inputMember.value)" value="{{newMemberName}}" />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="group-container">
      <input #inputNumber type="number" placeholder="nº of teams" (input)="onInputNumber(inputNumber.value)" value="{{numberTeams}}"/>
      <button (click)="createGroups()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <app-team *ngFor="let t of teams;let i=index" [team]="t" [index]="i"></app-team>
  </div>
  
  <!-- <div *ngIf="teams.length" class="teams-container">
    <div *ngFor="let t of teams;let i =index" class="team-container">
      <h3>Team {{i+1}}</h3>
      <ul >
        <li *ngFor="let m of t">{{m}}</li>
      </ul>
    </div>
  </div> -->
</div>